html {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inter-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v11-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/inter-v11-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v11-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v11-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v11-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    margin: 0;
    font-family: "Inter";
    background-color: #E7E7E7;
}


.container {
    width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.hero {
    padding: 80px 0;
}

.box {
    display: flex;
}

.border-right-box {
    width: 570px;
    margin-right: 12px;
    background-image: url(../images/matrix.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.right-box {
    padding: 55px 0 0 60px;
}

.courses {
    display: inline-block;
    margin-bottom: 60px;
    padding: 5px 15px;
    opacity: 0.8;
    border: 1px solid #FFFFFF;
    border-radius: 41px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}

.course-desc {
    width: 389px;
}

.course-title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.course-text {
    margin: 0;
    margin-bottom: 203px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.discount-box {
    padding: 29px 145px;
    background-color: #4DC490;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;

}

.discount-link {
    text-decoration: none;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
}


/* Left */

.left-box {
    width: 510px;
    padding: 55px 0px 45px 60px;
    background: #FFFFFF;
    border-radius: 20px;
}

.sign-title {
    margin: 0;
    margin-bottom: 79px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}



.user-input {
    display: block;
    width: 450px;
    margin-bottom: 35px;
    padding-bottom: 11px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.name::placeholder{
    width: 100%;
    margin-bottom: 35px;
    padding-bottom: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}

.submit {
    width: 450px;
    margin-bottom: 8px;
    padding: 20px 146px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #655AF2;
    border-radius: 10px;
    color: #FFFFFF;
}

.privacy {
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    color: #555555;
}

.privacy-link{
    margin: 0;
    color: #F03535;
}