:root {
  --main-color-red: #FF7979;
  --main-color-gren: #38CC8B;
  --main-color-blue: #5E54A4;
  --main-color-dark-black: #3D3B48;
  --main-color-black: #BAB7D4;
  --main-color-white: #ffffff;
}


/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/poppins-v20-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-image: url("../images/bg.png");
  background-size: contain;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 121px 20px;
}


.forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms .form-left {
  margin-right: 45px;
  width: 525px;
}

.forms .form-left .title {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: var(--main-color-white);
  margin: 0 0 25px 0;
}

.forms .form-left .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--main-color-white);
  margin: 0;
}

.forms .form-right {
  width: 540px;
}



.btn {
  margin-bottom: 24px;
  padding: 17px 110px;
  border: none;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: #FFFFFF;
  background-color: #5E54A4;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}

.form {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 8px 0px #00000025;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 15px 32px;
  border: 1px solid #5E54A4;
  border-radius: 5px;
}

.bottom {
  display: block;
  opacity: 0;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: #FF7979;
}

input:not(:placeholder-shown):not(focus):invalid {
  border-color: #ff7979;
}

input:not(:placeholder-shown):not(focus):invalid~.bottom {
  opacity: 1;
}

input:not(:placeholder-shown):not(focus):invalid {
  background-image: url(../images/error.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3D3B48;
  opacity: 0.75;
}

input {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3D3B48;
  border: 1px solid #DEDEDE;
  outline: none;
}

input:focus{
  border-color: #5e54a4;
}

.claim {
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #FFFFFF;
  border: none;
  padding: 15px 125px;
  background: #77E2B3;
  box-shadow: inset 0px -4px 0px #00000017;
  border-radius: 5px;
}

.policy {
  font-weight: 500;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  color: #BAB7D4
}

.service {
  font-weight: 700;
  text-decoration: none;
  color: #FE7878
}